:root {
  --primaryColor: rgb(84, 101, 75); /* Untuk tittle atau judul*/
  --secondaryColor: rgb(234, 198, 150);
  --primaryBackgroundColor: rgb(245, 245, 220);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--primaryColor);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primaryColor);
}